<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	<link href="../public/stylesheets/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>CognitiveCanvas Main Page</title>
</head>
<body>
	<header>
  <div class="title">
      <div class="container" onclick="menu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    	<h1>Cognitive Canvas</h1>
      <div class="csearch">
        <form>
          <input type="text" name="search" placeholder="Search..">
        </form>
      </div>
    	<!--<h3 class="subtitle">The Better Way to Learn</h3>
	 
      <li><button class="tablinks" onclick="openTool(event, 'London')">London</button></li>
      <li><button class="tablinks" onclick="openTool(event, 'Paris')">Paris</button></li>
      <li><button class="tablinks" onclick="openTool(event, 'Tokyo')">Tokyo</button></li>
    </div>-->
    <li><a class="anchor" onclick="openTool(event, 'Resources')">Resources</a></li>
    <li><a class="anchor" onclick="openTool(event, 'Notes')">Notes</a></li>
    <li><a class="anchor" onclick="openTool(event, 'Tools')">Tools</a></li>

  </div>
  </header>
      <div class="whitespace">
        <div id="Resources" class="tabcontent">
          <p>Resources from class goes here</p>
        </div>

        <div id="Notes" class="tabcontent">
          <p>Notes from students go here</p>
        </div>

        <div id="Tools" class="tabcontent">
          <p>Tools for CognitiveCanvas go here</p>
        </div>
      </div>
    <!--<iframe id="webstratesHere" src="http://webstrate.ucsd.edu/joshD3/" onload="setSize(); listElements();">
        <p>ERROR: Your browser does not support iframes.</p>
    </iframe>-->
    <!--<div class="player">
    	<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/wC36cepdVjg" frameborder="0" allowfullscreen></iframe>
    </div>-->

    <!--<div id="nodeList">
        <p>Node List</p>

    </div>

    <div id="edgeList">
        <p>Edge List</p>

    </div>

    <div id="labelList">
        <p>Label List</p>

    </div>-->


</body>

<script src="../public/javascripts/index.js" type="text/javascript"></script>
</html>