body {
	top: 0;
  	padding: 0;
  	margin: 0;
	font-family: 'Muli', sans-serif;
	background-color: #008F95;
	background-color: white;
}

a {
  color: #00B7FF;
}
.title {
	background-color: grey;
	top: 10px;
	position: relative;
	margin: 0 auto;
	padding: 0 auto;
	height: 60px;
	width: 99.5%;
	border-radius: 10px;
}
.title h1{
	font-size: 28px;
	text-align: left;
	color: white;
	margin-top: 0px;
	padding-bottom: 0;
	margin-bottom: 0px;
	padding-top: 50px;
	padding: 0 2%;
	color: #0099FA;
}
.subtitle{
	padding-top: 0px;
	margin-top: 0;
	text-align: center;
	font-style: italic;
	color: white;
	font-size: 14px;
}
.player {
	background-color: #E9B000;
	float: right;
	height: 370px;
	width: 600px;
}
.video{
	padding-left: 20px;
	padding-top: 20px;
	margin: 0 auto;
}